<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<add key="dir_template" value="template\" />
		<add key="project" value="java_jsf" />
		<add key="lang" value="java" />
		<add key="dir_output_web" value="WebContent" />
		<add key="dir_output_class" value="src\com\frameweb\java\" />
    <add key="dir_output_sec" value="src\com\frameweb" />
    <add key="dir_template_sec_config" value="template\framework\security\sec-config.txt" />
		<add key="ext_class" value=".java" />
    <add key="ext_sec" value=".xml" />
    <add key="dir_profiles" value="profiles"/>
	</appSettings>
</configuration>